# Archivos de entorno
.env
.env.local

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
ENV/

# Base de datos
*.sqlite3
*.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos estáticos
/staticfiles/
/media/

# Logs y archivos de desarrollo
*.log
*.pot
*.pyc

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Django
*.egg-info/
*.sql
*.sql.gz
